*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE specific
*.iml
.classpath
.idea
.project
.scala_dependencies
.settings
.worksheet
dependency-reduced-pom.xml
